@import url('https://fonts.cdnfonts.com/css/bethland');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --main-color: #673B23;
    --border-radius: 10px;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}

* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .03rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
    font-family: 'bethland';
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 3.5rem;
    font-family: 'bethland';
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.visit{
    font-family: 'bethland';
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    z-index: 1000;
    padding: 2rem 9%;
    
}

.navbar-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-weight: normal;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: var(--main-color);
    font-size: 2.3rem;
    text-decoration: none;
}

.header .logo i {
    padding-left: .5rem;
    
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--main-color);
    font-family: 'bethland';

}

.header .logo img{
    width: 15rem;
}

.header .btn {
    margin-top: 0;
}

#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

/* HOME */
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Pastikan tombol di atas konten lain */
}

#whatsapp-button img {
    width: 60px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: auto;
    border-radius: 50%; /* Membuat ikon bundar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Efek bayangan untuk ikon */
}
.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../image/kopiung-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row {
    padding: 0;
    margin: 50px auto;
}

.home .row  p {
    color: var(--main-color);
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
}


.home .row .image {
    text-align: center;
}

.home .row .image img {
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-7rem);
    }
}
@media (max-width:768px) {
    .home .row .image{
        margin-top: 50px;
    }
}
@media (max-width:470px) {
    .home .row .image{
        margin-top: 50px;
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: var(--main-color);
    font-family: 'bethland';
}

.home .image-slider {
    text-align: center;
    padding: 3rem 0;

    bottom: -100px  ;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}

/* ABOUT */

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image iframe {
    width: 100%;
    animation: aboutImageS  4s linear infinite;

}
.about .row .image-profil img{
    width: 100%;
    float: right;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .image-profil {
      order: -1; /* Mengatur elemen pindah ke atas */
      margin-bottom: 20px; /* Menambahkan margin bawah untuk memberi jarak */
    }
    .about .row .image-profil img{
        width: 100%;

    }

}

@keyframes aboutImageS {

    0%,
    100% {
        transform: scale(.9);
        border-radius: 20px;
    }

    50% {
        transform: scale(.8);
        border-radius: 20px;
    }
}
@keyframes aboutImage {

    0%,
    100% {
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }

    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .row .content {
    flex: 1 1 42rem;
}
.about .row .content .title {
    color: var(--main-color);
    font-family: 'bethland';
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p {
    color: var(--main-color);
    font-size: 1.8rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .content-icon .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}

.about .row .content-icon .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

.about .row .content-icon .icons-container .icons img {
    height: 5rem;
}

.about .row .content-icon .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}

/* MENU */

.menu {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.41, #f2ece0), color-stop(0.99, #ffffff));
    background: -webkit-linear-gradient(top, #f2ece0 41%, #ffffff 99%);
    background: -moz-linear-gradient(top, #f2ece0 41%, #ffffff 99%);
    background: -o-linear-gradient(top, #f2ece0 41%, #ffffff 99%);
    background: -ms-linear-gradient(top, #f2ece0 41%, #ffffff 99%);
    background: linear-gradient(to bottom, #f2ece0 41%, #ffffff 99%);
}

.menu  .review-slider {
    padding: 5rem 0;
}

.menu  .review-slider .box {

    padding: 1rem;
}

.menu .card-sl{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 10px;
    
}

.menu .card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.menu .card-sl .card-heading{
        font-size: 18px;
        font-weight: bold;
        color: var(--main-color);
        padding: 10px 15px;
}

.menu .card-sl .card-text {
    padding: 10px 15px;
    font-size: 14px;
    color: var(--main-color);
}
.menu .card-sl .price{
    font-weight: bold;
}
.other-menu a .btn{
    font-family: 'bethland';
    font-size:20px;
}

@media (max-width: 768px) {
    .menu .card-sl .card-heading{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: var(--main-color);
        padding: 10px 15px;
}
    .menu .card-sl .price{
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .menu .card-sl .card-heading{
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: var(--main-color);
        padding: 10px 15px;
}
    .menu .card-sl .price{
        text-align: center;
        font-weight: bold;
    }
}

/* promosi */

.promosi .container{
    background-color: #F9F8EE;
    padding: 20px;
    border-radius: var(--border-radius);
}


.promosi .container .row{
    margin-top: 50px;
}


.promosi .container .row .box-promosi{
    margin: 10px 0;
}
/* REVIEW */

.review{
    padding: 0;
    
}
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item .item{
	float:left;
    margin-bottom: 10px;    
}



/* BOOK */

.book {
    background-color: white;
     margin-top: 20px;
 }
 .book .heading{
     margin-bottom: 50px;
 }
 .book .row .col-lg-6{
     margin-bottom: 30px;
 }
 .book .row iframe{
     width: 100%;
     height: 50vh;
 }
.book form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius);
    padding: 3rem;
    border: var(--border);
}

.book form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.book form .box:focus {
    border: var(--border-hover);
}

.book form textarea {
    height: 15rem;
    resize: none;
}

/* FOOT */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 3rem;
    padding: 1rem 0;
    color: var(--main-color);
    font-family: 'bethland';

}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    font-family: 'bethland';
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: var(--main-color);
}

.footer .credit span {
    border-bottom: var(--border-hover);
}
@media (max-width: 467px) {
    .footer .box-container .box h3 {
        font-size: 3.5rem;
    
    }
    .footer .box-container .box a {

        font-size: 2rem;

    }
}


/* MEDIA QUERIES */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 3rem;
    }

    section {
        padding: 2rem;
    }
    .home .row .image img {
        width: 50%;
        
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 8rem;
    }

    .heading span {
        font-size: 3.5rem;
    }
 
    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }

    .home {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 4rem;
    }

    .home .row .image img {
        width: 30%;
        
    }
}

@media (max-width: 467px) {
    html {
        font-size: 50%;
    }
    .header .navbar a {
        font-size: 2.5rem;

    }
    .home .row .image img {
        width: 50%;
        
    }

}

